body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    font-weight: bold;
}
.heilight{
    color: orange;
}
.header_top{
    height: 500px;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}
.half-width{
    width: 40%;
    margin: 5%;
    float: left;
}
.half-width img{
    width: 100%;
}